.header__nav {
    display: flex;
    z-index: 10;
    font-size: var( --font-size-1);
    margin-right: 8px;
    padding: 6px 4px;
}

.header__button {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-left: 16px;
    text-decoration: none;
    color: var(--white);
}


/* Layout */
.container {
  margin: 0 auto;
}

main {
  /* margin-top: 45px; */
}

.header {
  /* backdrop-filter: blur(5px); */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* background: var(--black); */
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  padding: 6px 4px;
}

.header .header__title {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);
  line-height: var(--line-height-1);
  padding-left: var(--space-2);
  margin: 0;
  letter-spacing: -0.025em;
  padding: 10px;
  transition: all 0.4s ease;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.back-button {
  margin-right: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--space-3);
}

.footer .footer__text {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (min-width: 575px) {
  .container {
    max-width: var(--max-width-1);
    padding: 0 ;
  }

  main {
    margin-top: unset;
  }

  .header__title.long {
    font-size: 2.5rem;
    opacity: 1;
    transition: all 0.4s ease;
  }

  .header__title.short {
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    /* transition: all 0.4s ease-in; */
  }

  .header {
    /* backdrop-filter: blur(2px); */
    position: unset;
    border-bottom: none;
    margin: var(--space-4) 0;
    padding:  0;
    /* background: rgba(255, 255, 255, 0.38); */
    /* border-radius: 50px; */
  }
  .header:hover {
    /* backdrop-filter: blur(10px); */
    transition: 0.3s ease-in-out ;
  }

  .header .header__title {
    margin: 0px;
    font-size: var(--font-size-5);
  }

  .footer {
    margin: var(--space-3) 0;
  }
}
