.container {
    /* margin: 0px 12px; */
}


@media (max-width: 750px) {
   .container {
    margin-top: 12px ;
    display: flex;
    flex-direction: column;
   }

   .container.header-collapsed {
    --header-width: max-content;
   }

}