/* Layout */
.container {
  justify-content: space-between;
}
/* 
body {
  overflow: hidden;
} */

main {
  /* margin-top: 45px; */
}

.header {
  background-color: var(--white);
  width: 350px;
  margin: auto;
  /* backdrop-filter: blur(5px); */
  z-index: 10;
  display: fixed;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  user-select: none;
}

.header__title h1 {
  margin: 0px;
  margin-left: 12px;
  font-size: 18px;
}

.header__content {
  padding: 0px 12px;
  font-weight: 200;
  font-family: var(--font-family-serif);
  font-size: 14px;
}

@media (min-width: 575px) {
  .header {
    border-radius: 16px;
    padding: 12px 0px;
    position: unset;
    border-bottom: none;
    margin: var(--space-4) auto;
    font-family: var(--font-family-sans);
    font-weight: 800;
  }
}
