.project {
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}
.project__title {
    font-size: 1.2em;
    margin: 0px;
    font-weight: 800;
}

.project__subtitle {
    font-size: 0.9p5em;
    font-weight: 200;
    margin: 0px;
}

.project__description {
    font-size: 0.65em;
    font-weight: 200;
    color: #696969;
    margin: 0px;
}